body{
  margin:0;
  font-family:Arial;
  background:#f4f6f8;
}

.app-header{
  background:#111827;
  color:white;
  padding:20px;
}

.layout{
  display:grid;
  grid-template-columns:400px 1fr;
  gap:20px;
  padding:20px;
}

.card{
  background:white;
  border-radius:16px;
  padding:20px;
}

.two-cols{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

input,textarea,select{
  width:100%;
  padding:10px;
  margin-top:5px;
  margin-bottom:15px;
}

button{
  padding:10px 15px;
  border:0;
  background:#2563eb;
  color:white;
  border-radius:10px;
}

.student{
  border:1px solid #ddd;
  border-radius:10px;
  padding:15px;
  margin-bottom:10px;
}

.exam{
  background:#f9fafb;
  padding:10px;
  border-radius:10px;
  margin-top:10px;
}
